header {
  background: $secondary-red;

  .logo-wrap {
    position: relative;
    @include flexbox();
    @include align-items(center);

    .ham-icon {
      position: relative;
      cursor: pointer;
      background: $primary-red;
      padding: 20px;
      @include rotate(0deg);
      @include css3-prefix(transition, .5s ease-in-out);
      @include flexbox();
      @include align-items(center);

      i {
        color: #fff;
        font-size: 26px;
      }

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include rotate(0deg);
        @include css3-prefix(transition, .25s ease-in-out);

        &:nth-child(1) { top: 0 }
        &:nth-child(2) { top: 18px }
        &:nth-child(3) { top: 36px }
      }

      &.open {
        span {
          &:nth-child(1) { 
            top: 18px;
            @include rotate(135deg);
          }
          &:nth-child(2) { 
            opacity: 0;
            left: -60px;
          }
          &:nth-child(3) { 
            top: 18px;
            @include rotate(-135deg);
          }
        }
      }
    }

    .logo {
      margin-left: 10px;

      img {
        width: 250px;

        @include media-breakpoint-down(sm) {
          width: 50vw;
        }
      }
    }

    .primary-nav {
      display: none;
      position: absolute;
      top: 100%;
      width: 80%;
      z-index: 100;
      @include css3-prefix(animation, slideRight 1s ease);

      ul {
        background: $primary-red;
        list-style: none;
        padding: 5px 15px;
        > li {
          padding: 8px 0;
          &:last-of-type {
            border: 0;
          }

          a {
            color: #fff;
          }
        }
      }
    }
  } 

  .ad-wrap {
    text-align: center;
    @include media-breakpoint-down(md) {
      order: -1;
      padding: 10px 20px;
    }

    img {
      max-width: 400px;
    }
  }

  .menu-right-wrap {
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);
    position: relative;

    .social-media-plugin {
      @include media-breakpoint-down(lg) {
        display: none;
      }
      a, i {
        color: #fff;
        font-size: 18px;
      }
  
      i {
        margin-right: 10px;
      }
    }

    .search-form {
      color: #fff;
      margin: 0 20px;
      position: relative;
      @include media-breakpoint-down(lg) {
        margin: 0 10px;
      }

      > i {
        background: $primary-red;
        padding: 10px;
        border: 1px solid $primary-red;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        cursor: pointer;
        @include media-breakpoint-down(lg) {
          font-size: 24px;
          padding: 7px 12px;
        }
        
        &.fa-times {
          font-size: 19px;
          @include media-breakpoint-down(lg) {
            font-size: 23px;
          }
        }
      }

      &.open {
        > i {
          border-top-left-radius: 0;
        }

        .search-form-wrap {
          input[type='text'] {
            border: 1px solid #fff;
            border-top-left-radius: 7px;
          }
        }
      }

      .search-form-wrap {
        display: none;
        position: absolute;
        top: 0;
        width: 30vw;
        z-index: 100;
        right: 100%;
        border-top-left-radius: 7px;

        @include media-breakpoint-down(lg) {
          width: 25vw;
        }
        @include media-breakpoint-down(md) {
          width: 40vw;
        }
        @include media-breakpoint-down(sm) {
          width: 90vw;
        }
        @include media-breakpoint-down(xs) {
          width: 80vw;
        }
  
        form {
          background: transparent;
          @include css3-prefix(animation, opacity 1s ease);

          input, button {
            width: 100%;
            height: 100%;
            background: #fff;
            padding: 5px;
            border: 0;
          }

          button {
            color: $primary-red;
            cursor: pointer;
            font-size: 20px;
          }
  
          input[type='text'] {
            border-color: $primary-red;
          }
        }
      }
    }
  }

  &.search-open {
    .logo-wrap {
      @include media-breakpoint-up(md) {
        opacity: 0.1;
      }
      @include media-breakpoint-down(sm) {
        opacity: 0;
      }
    }

    .ad-wrap {
      @include media-breakpoint-up(md) {
        opacity: 0.1;
      }
    }
  }
}