.home-page {
  section {
    margin-top: 5%;
    margin-bottom: 5%;
    > .ad-block {
      width: 60%;
      margin: 4% auto;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  .subscribe-wrap {
    margin: 2% auto;
    width: 60%;
    @include media-breakpoint-down(md) {
      display: none;
    }

    input {
      width: 100%;
    }

    > .row {
      @include media-breakpoint-down(md) {
        margin: 0;

        > [class*=col-] {
          padding: 0;
        }
      }
    }
  }

  .article-group-home-header {
    position: relative;
    z-index: 0;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }

    .article-top {
      margin-bottom: 10px;
      > .row > .col-12 {
        &:first-of-type {
          @include media-breakpoint-down(sm) {
            order: 2;
          }
        }
      }
    }

    .article-group-bottom {
      &.row {
        margin: 0 -5px;
        @include media-breakpoint-down(md) {
          margin: 0;
        }

        > [class*=col-] {
          @extend .d-flex;
          @extend .align-items-stretch;
          @include media-breakpoint-up(lg) {
            padding: 0 5px;
          }

          img {
            @include media-breakpoint-down(md) {
              height: 100%;
              width: 100%;
            }
          }

          [class*=col-] {
            display: flex;
            flex-direction: column;
            &:first-of-type {
              @include media-breakpoint-up(lg) {
                // height: 150px;
              }
              img {
                height: 100%;
              }
            }
          }

          &:nth-child(even) {
            @include media-breakpoint-up(lg) {
              [class*=col-]:first-of-type {
                order: 2;
              }
            }
          }
        }
      }
    }
  }

  .home-spotlight {
    background: $secondary-black;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    @include media-breakpoint-down(md) {
      padding: 30px 20px;
    }

    .title {
      color: $primary-red;
      text-transform: uppercase;
      font-weight: bold;
    }

    .img-wrap {
      margin: 15px 0;
      img {
        width: 50%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }

    .article-details {
      width: 35%;
      margin: 0 auto;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .article-data {
        text-transform: uppercase;
        font-family: $barlow;

        > .time {
          color: grey;
        }
      }

      .article-title {
        margin: 15px 0;
      }

      .divider {
        width: 30%;
        height: 5px;
        display: block;
        margin: 0 auto;
        background: $primary-red;
      }
    }
  }

  .article-group {
    @extend .container;
    position: relative;

    .title-with-bar {
      margin-bottom: 3%;
    }

    .nav-route {
      position: absolute;
      left: -9%;
      top: -25px;
      @include media-breakpoint-down(lg) {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        margin: 10px 0 40px;
      }
      @include media-breakpoint-down(md) {
        margin: 20px 0;
      }

      .mob-nav {
        @include media-breakpoint-up(md) {
          display: none;
        }

        background: $primary-red;
        color: #fff;
        text-transform: uppercase;
        padding: 10px;
        font-family: $barlow;
        font-size: 24px;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
      }

      ul {
        @include media-breakpoint-down(lg) {
          @include flexbox();
        }
        @include media-breakpoint-down(md) {
          display: none;
        }

        li {
          text-align: right;
          margin: 8px 0;
          text-transform: uppercase;
          font-family: $barlow;

          @include media-breakpoint-down(lg) {
            margin: 0 8px;
          }

          &:first-of-type {
            margin-top: 0;
            @include media-breakpoint-down(lg) {
              margin-left: 0;
            }
          }


          > * {
            background: $primary-red;
            color: #fff;
            padding: 3px;
            padding-left: 10px;
            font-size: 13px;

            i {
              font-size: 11px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      &.flix {
         >.row > [class^=col-] { 
          .img-wrap {
            height: 100%;
          }
        }
      }
    }

    > .row {
      position: relative;
      @include media-breakpoint-down(md) {
        > [class^=col-] {
          padding: 8px 0;
        }
      }

      @include media-breakpoint-up(lg) {
        > [class^=col-] { 
          .img-wrap {
            height: 23vw;
          }
          &.article-left,
          &.article-top,
          &.article-right {
            .img-wrap {
              height: 100%;
            }
          }
          &.less-height {
            height: 60%;
            .img-wrap {
              height: 30vw;
            }
          }
        }
      }

      .article-stack {
        >.row > [class*=col-] {
          @include media-breakpoint-down(md) {
            padding-bottom: 16px;

            &:last-of-type {
              padding: 0;
            }
          }
        }
      }

      .ad-block {
        @include media-breakpoint-up(lg) {
          position: relative;
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          img {
            max-width: 17vw;
          }
  
          &.outer-bottom {
            > * {
              position: absolute;
              bottom: -40px;
              right: 0;
            }
          }
        }
      }
    }

    > .btn-wrap {
      margin-top: 30px;
    }

    .popular-articles {
      margin: 3% 0;
      @include media-breakpoint-down(md) {
        padding: 0 15px;
      }

      .title-wrap {
        @include flexbox();
        @include align-items(center);
        > .title {
          > div {
            text-align: right;
            span {
              display: inline-block;
              background: $primary-red;
              color: #fff;
              text-transform: uppercase;
              font-family: $barlow;
              padding: 0 5px;
              margin: 1px 0;
              text-align: right;
            }
          }
        }

        > .icon {
          margin-left: 10px;
          color: $primary-red;
          font-size: 3em;
        }
      }

      .articles {
        color: grey;
        font-family: $lato;

        @include media-breakpoint-up(lg) {
          @include align-items(flex-end);
          margin-top: 15px;
        }
    
        .article {
          border-left: 2px solid $primary-red;
          @include media-breakpoint-down(md) {
            margin: 20px 0;
          }
        }
      }

      .btn-wrap {
        @include media-breakpoint-down(md) {
          text-align: center;
          margin-top: 30px;
        }
        > .row {
          @include media-breakpoint-up(lg) {
            @include align-items(flex-end);

            [class^=col-] {
              position: relative;
              .ad-block {
                position: absolute;
                bottom: 0;
              }
            }
          }

          .ad-block {
            @include media-breakpoint-down(md) {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }

  .video-block {
    background: rgb(130,177,198);
    background: -moz-linear-gradient(127deg, rgba(130,177,198,1) 0%, rgba(164,131,150,1) 20%, rgba(224,219,137,1) 50%, rgba(156,28,31,1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(130,177,198,1) 0%, rgba(164,131,150,1) 20%, rgba(224,219,137,1) 50%, rgba(156,28,31,1) 100%);
    background: linear-gradient(127deg, rgba(130,177,198,1) 0%, rgba(164,131,150,1) 20%, rgba(224,219,137,1) 50%, rgba(156,28,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82b1c6",endColorstr="#9c1c1f",GradientType=1);
    padding: 20px 3%;
    padding-right: 0;
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    .title {
      @include media-breakpoint-down(md) {
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
    .video-wrap {
      .slick-list {

        .slick-slide {
          margin: 0 10px;
          &:hover {
            .img-wrap > span {
              background: transparent;
            }
          }

          .img-wrap {
            position: relative;

            > span {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: rgba(0, 0, 0, 0.4);
            }

            > img {
              height: 20vw;
              @include media-breakpoint-down(md) {
                height: 30vw;
              }
              @include media-breakpoint-down(sm) {
                height: 70vw;
              }
            }

            > i {
              position: absolute;
              top: 50%;
              right: 40%;
              color: #fff;
              z-index: 1;
              font-size: 50px;
            }
          }

          .card-body {
            background: #2F2F2F;
            color: #fff;
            font-family: $barlow;
          }

          &.ad-wrap {
            width: 100px !important;
            > * {
              height: 100%;
            }
          }
        }
        
      }

      .slick-dots {
        @include flexbox();
        list-style: none;
        padding: 5px 10px;
        @include media-breakpoint-down(md) {
          padding: 20px 0;
          @include justify-content(center);
        }

        > li {
          width: 18px;
          margin-right: 5px;
          @include media-breakpoint-down(md) {
            width: 25px;
          }

          button {
            font-size: 0;
            background: #fff;
            border: 0;
            height: 3px;
            width: 100%;
            cursor: pointer;
            @include media-breakpoint-down(md) {
              height: 5px;
            }
          }

          &.slick-active {
            button {
              background: $primary-red;
            }
          }
        }
      }
    }
  }

  .money-atom-content-wrap {
    > .row > [class^=col-] {
      &:not(:first-of-type) {
        @include media-breakpoint-down(md) {
          @include css3-prefix(transform, translate(0%, 27%));
        }
      }
    }
    .board {
      &-atom {
        background: url(../../dist/images/atom.jpg);
        background-size: 100%;
        .btn-wrap {
          @extend .board-atom;
          background-position: bottom;
        }
      }
      &-money {
        background: url(../../dist/images/money.jpg);
        background-size: 100%;
        .btn-wrap {
          @extend .board-money;
          background-position: bottom;
        }
      }

      .header {
        height: 21vw;
        @include media-breakpoint-down(md) {
          height: 37vw;
        }
      }

      .article-cards {
        background: #fff;
        @include css3-prefix(transform, translate(0%, 57%));
        @include media-breakpoint-down(lg) {
          @include css3-prefix(transform, translate(0%, 41%));
        }
        @include media-breakpoint-down(md) {
          @include css3-prefix(transform, translate(0%, 20%));
        }

        .card {
          @include media-breakpoint-down(md) {
            border: 0;
            margin-bottom: 7%;
          }
          .card-body {
            background: transparent;
            @include media-breakpoint-down(md) {
              padding: 0;
            }
          }

          &:not(.article-top) {
            .article-title {
              font-size: 18px;
            }

            img {
              height: 5vw;
              @include media-breakpoint-down(md) {
                height: 30vw;
              }
            }
          }
          > .row {
            img {
              margin: 20px 10px;   
              @include media-breakpoint-down(md) {
                margin: 0;
              }       
            }
          }
          &.article-top {
            @include media-breakpoint-up(lg) {
              position: relative;
              top: -50%;
              background: transparent;
              margin-bottom: -12%;
              @include media-breakpoint-down(lg) {
                margin-bottom: -18%;
              }

              .card-body {
                border-bottom: 1px solid #000;
                padding-left: 0;
                .article-title {
                  color: #fff;
                  margin-bottom: 27%;
                }
              }
            }
            @include media-breakpoint-down(md) {
              margin: 7% 0;
              [class^=col-]:last-of-type {
                padding-left: 0;
              }
              .article-title {
                margin-top: 14%;
              }
            }
            img {
              @include media-breakpoint-down(md) {
                height: 100%;
              } 
              @include media-breakpoint-up(lg) {
                margin: 0;
                margin-left: 10px;
              }
            }
            .img-wrap {
              position: relative;

              .label {
                position: absolute;
                top: -5%;
                right: -3px;
                padding: 1px 3px;
                font-size: 10px;
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 2px 0 rgba(0, 0, 0, 0.19);

                @include media-breakpoint-down(md) {
                  top: 4%;
                  right: -13px;
                  font-size: 14px;
                }

                &:after {
                  top: 95%;
                }
              }
            }
          }
        }

        .btn-wrap {
          width: 100%;
          text-align: right;
          margin: 0 15px;
          @include media-breakpoint-down(md) {
            height: 30px;
          }
          a {
            position: relative;
            bottom: -12px;
            margin-right: 12px;
            @include media-breakpoint-down(md) {
              bottom: 9px;
              margin-right: 12px;
              padding: 10px 15px;
            }
          }
        }
      }
    }

    .ad-block {
      margin-top: 30%;
      @include media-breakpoint-down(md) {
        margin-top: 83%;
      }
    }
  }

  .more-articles {
    background: $secondary-grey;
    padding: 3% 0;
    margin-bottom: 0;

    .title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 3%;
    }

    .row > [class^=col-] {
      padding-bottom: 30px;
    }

    .card {
      background: transparent;
      border: 0;

      img {
        height: 18vw;
        @include media-breakpoint-down(md) {
          height: 40vw;
        }
      }

      .card-body {
        padding: 0;
        padding-top: 20px;
        background: transparent;
      }
    }

    .btn-wrap {
      @include flexbox();
      @include align-items(center);
      @include media-breakpoint-down(md) {
        margin: 0 -15px;
      }

      &:after,
      &:before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: #d3d3d3;
      }

      .btn {
        margin: 0 15px;
      }
    }
  }
}