.btn {
  padding: 5px 10px;
  font-family: $barlow;
  font-weight: normal;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  color: #fff;

  &-red {
    $value : 135deg, transparent 8px, $primary-red 0px, $primary-red 94%, transparent 94%;
    @include gradient($value, !important);
  }

  &-black {
    $value : 135deg, transparent 8px, $secondary-black 0px, $secondary-black 94%, transparent 94%;
    @include gradient($value, !important);
  }

  &:hover {
    color: #fff;
  }

  &:after {
    content: '\f067';
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 11px;
    position: relative;
    top: -6px;
    right: -3px;
  }

  &-search {
    &:after {
      content: "\f002";
    }
  }

  &-top {
    &:after {
      content: "\f176";
    }
  }

  &-subscribe {
    &:after {
      content: "\f003";
    }
  }
}