<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="../dist/styles/styles.min.css" />
    <script src="https://kit.fontawesome.com/93bd8d84a2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Nav bar-->
    <header>
      <div class="row no-gutters">
        <div class="col-lg-2 col-8 logo-wrap">
          <div class="ham-icon">
            <i class="fas fa-bars"></i>
          </div>
          <div class="logo">
            <img src="https://www.thenewsminute.com/sites/default/files/logo_0.png">
          </div>
          <nav class="primary-nav">
            <ul>
              <li><a href="#">Kerala</a></li>
              <li><a href="#">Kerala</a></li>
              <li><a href="#">Kerala</a></li>
              <li><a href="#">Kerala</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-8 col-12 ad-wrap">
          <img src="https://i.postimg.cc/Gpktyh6P/screenshot-drive-google-com-2019-09-27-16-41-25.png">
        </div>
        <div class="col-lg-2 col-4 menu-right-wrap">
          <div class="social-media-plugin">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div>
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
          <div class="search-form-wrap">
            <form class="row no-gutters">
              <div class="col-9">
                <input type="text" value="" placeholder="Enter keyword">
              </div>
              <div class="col-3"><button class="btn btn-red">Search</button></div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <main class="home-page">
      <section class="article-group article-group-home-header">
        <!-- Subscibe form-->
        <div class="subscribe-wrap container">
          <div class="row">
            <div class="col-9">
              <input type="text" placeholder="Enter email id">
            </div>
            <div class="col-3">
              <input type="submit" class="btn btn-red btn-subscribe" value="subscribe">
            </div>
          </div>
        </div>

        <!--Home page top aticle grid-->        
        <div class="card article card-bg-black article-top">
          <div class="row no-gutters">
            <div class="col-lg-6 col-12 d-flex align-items-stretch">
              <div class="card-body">
                <div class="article-data">
                  <span class="label label-red">news</span>
                  <span class="time">tuesday, december 12, 2019</span>
                </div>
                <h2 class="article-title">Card title</h2>
                <div class="article-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <img src="https://picsum.photos/600/300">
            </div>
          </div>
        </div>
        <div class="row article-group-bottom">
          <div class="col-12 col-lg-3 ">
            <div class="card article card-bg-grey">
              <div class="row no-gutters">
                <div class="col-lg-12 col-3">
                  <img src="https://picsum.photos/600/300">
                </div>
                <div class="col-lg-12 col-9">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Lorem ipsum dolor sit amet</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 ">
            <div class="card article card-bg-grey">
              <div class="row no-gutters">
                <div class="col-lg-12 col-3">
                  <img src="https://picsum.photos/600/300">
                </div>
                <div class="col-lg-12 col-9">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 ">
            <div class="card article card-bg-grey">
              <div class="row no-gutters">
                <div class="col-lg-12 col-3">
                  <img src="https://picsum.photos/600/300">
                </div>
                <div class="col-lg-12 col-9">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 ">
            <div class="card article card-bg-grey">
              <div class="row no-gutters">
                <div class="col-lg-12 col-3">
                  <img src="https://picsum.photos/600/300">
                </div>
                <div class="col-lg-12 col-9">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Spotlight-->
      <section class="home-spotlight">
        <h2 class="title">Spotlight</h2>
        <div class="img-wrap">
          <img src="https://picsum.photos/800/600">
        </div>
        <div class="article-details">
          <div class="article-data">
            <span class="label label-red">news</span>
            <span class="time">tuesday, december 12, 2019</span>
          </div>
          <h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor sit amet </h2>
          <span class="divider"></span>
        </div>
      </section>

      <!--States-->
      <section class="article-group article-group-with-bg">
        <div class="ad-block">
          <img src="https://i.postimg.cc/dVPNghYp/2-Ad-Banner-728-x-90.jpg">
        </div>
        <h2 class="title section-title title-with-bar title-red text-left">States</h2>
        <div class="row article-cards no-gutters">
          <div class="nav-route">
            <div class="mob-nav">
              <span class="title">andhra</span>
              <i class="fas fa-angle-down"></i>
            </div>
            <ul>
              <li><a href="#!"><i class="fas fa-plus"></i>andhra</a></li>
              <li><a href="#!"><i class="fas fa-plus"></i>kerala</a></li>
              <li><a href="#!"><i class="fas fa-plus"></i>karnataka</a></li>
              <li><a href="#!"><i class="fas fa-plus"></i>tamilnadu</a></li>
              <li><a href="#!"><i class="fas fa-plus"></i>telengana</a></li>
            </ul>
          </div>
          <div class="col-lg-8 col-12 article-top">
            <div class="card article card-overlay card-overlay-top-left outer-top">
              <div class="row no-gutters">
                <div class="col-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h2 class="article-title">Card title</h2>
                    <div class="article-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                  </div>
                </div>
                <div class="col-12 img-wrap">
                  <img src="https://picsum.photos/id/1023/600/300" class="card-image">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12 article-top">
            <div class="card article card-overlay card-overlay-bottom-right outer-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/600/300" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/seed/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/seed/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-wrap">
          <a href="#" class="btn btn-red">More</a>
        </div>
        <div class="ad-block">
          <img src="https://i.postimg.cc/dVPNghYp/2-Ad-Banner-728-x-90.jpg">
        </div>
      </section>

      <!--Delve-->
      <section class="article-group">
        <h2 class="title section-title title-with-bar title-red text-center">delve</h2>
        <div class="row article-cards no-gutters">
          <div class="col-lg-6 col-12 ad-block">
            <img src="https://i.postimg.cc/bN4wk450/banner-2.jpg">
          </div>
          <div class="col-lg-6 col-12 article-top">
            <div class="card article card-overlay card-overlay-bottom-right outer-all">
              <div class="row no-gutters">
                <div class="col-12 img-wrap">
                  <img src="https://picsum.photos/600/300" class="card-image">
                </div>
                <div class="col-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                    <div class="article-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/seed/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 ad-block outer-bottom">
            <img src="https://i.postimg.cc/bN4wk450/banner-2.jpg">
          </div>
        </div>
        <div class="popular-articles">
          <div class="title-wrap row">
            <div class="title">
              <div><span>most</span></div>
              <div><span>popular</span></div>
              <div><span>articles</span></div>
            </div>
            <div class="icon"><i class="fas fa-thumbs-up"></i></div>
          </div>
          <div class="articles row">
            <div class="col-lg-8 col-12">
              <div class="row">
                <div class="col-12 col-lg-4 article">
                  <a href="#!">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                </div>
                <div class="col-12 col-lg-4 article">
                  <a href="#!">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                </div>
                <div class="col-12 col-lg-4 article">
                  <a href="#!">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12 btn-wrap">
              <a href="#!" class="btn btn-red">more</a>
            </div>
          </div>
        </div>
        <div class="ad-block">
          <img src="https://i.postimg.cc/dVPNghYp/2-Ad-Banner-728-x-90.jpg">
        </div>
      </section>

      <!--video section-->
      <section class="video-block">
        <h2 class="title section-title title-with-bar title-white">videos</h2>
        <div class="video-wrap">
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
          <div class="ad-wrap">
            <img src="https://i.postimg.cc/MGw8dpqQ/Video-gallery-add.jpg">
          </div>
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
          <div class="card">
            <a href="#!"> 
              <div class="img-wrap">
                <img src="https://picsum.photos/300/600">
                <i class="far fa-play-circle"></i>
                <span></span>
              </div>
              <div class="card-body">
                Lorem ipsum
              </div>
            </a>
          </div>
        </div>
      </section>

      <!-- Flix-->
      <section class="article-group">
        <div class="ad-block">
          <img src="https://i.postimg.cc/dVPNghYp/2-Ad-Banner-728-x-90.jpg">
        </div>
        <h2 class="title section-title title-with-bar title-red">flix</h2>
        <div class="row article-cards no-gutters">
          <div class="col-lg-4 col-12 article-left">
            <div class="card article card-overlay card-overlay-bottom-left">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/600/300" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-12 article-stack">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="card article card-overlay card-overlay-top-left outer-top">
                  <div class="row no-gutters">
                    <div class="col-12 img-wrap">
                      <img src="https://picsum.photos/500/500" class="card-image">
                    </div>
                    <div class="col-12 details-wrap">
                      <div class="card-body">
                        <div class="article-data">
                          <span class="label label-black">news</span>
                          <span class="time">tuesday, december 12, 2019</span>
                        </div>
                        <h3 class="article-title">Card title</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card article card-overlay card-overlay-bottom-right outer-bottom">
                  <div class="row no-gutters">
                    <div class="col-12 img-wrap">
                      <img src="https://picsum.photos/500/600" class="card-image">
                    </div>
                    <div class="col-12 details-wrap">
                      <div class="card-body">
                        <div class="article-data">
                          <span class="label label-black">news</span>
                          <span class="time">tuesday, december 12, 2019</span>
                        </div>
                        <h3 class="article-title">Card title</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12 article-right less-height">
            <div class="card article card-overlay card-overlay-bottom-right">
              <div class="row no-gutters">
                <div class="col-3 col-lg-12 img-wrap">
                  <img src="https://picsum.photos/300/600" class="card-image">
                </div>
                <div class="col-9 col-lg-12 details-wrap">
                  <div class="card-body">
                    <div class="article-data">
                      <span class="label label-black">news</span>
                      <span class="time">tuesday, december 12, 2019</span>
                    </div>
                    <h3 class="article-title">Card title</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="popular-articles">
          <div class="title-wrap row">
            <div class="title">
              <div><span>most</span></div>
              <div><span>popular</span></div>
              <div><span>articles</span></div>
            </div>
            <div class="icon"><i class="fas fa-thumbs-up"></i></div>
          </div>
          <div class="articles row">
            <div class="col-lg-8 col-12">
              <div class="row">
                <div class="col-12 col-lg-4 article">
                  <a href="#!">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                </div>
                <div class="col-12 col-lg-4 article">
                  <a href="#!">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                </div>
                <div class="col-12 col-lg-4 article">
                  <a href="#!">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12 btn-wrap">
              <div class="row">
                <div class="col-12 col-lg-3">
                  <a href="#!" class="btn btn-red">more</a>
                </div>
                <div class="col-12 col-lg-9">
                  <div class="ad-block"><img src="https://i.postimg.cc/bN4wk450/banner-2.jpg"></div>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="newsletter-subscription">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 ad-block">
              <img src="https://i.postimg.cc/bN4wk450/banner-2.jpg">
            </div>
            <div class="col-lg-6 col-12 form-block">
              <h3 class="title">News minute newsletter</h3>
              <p>Signup to get exsiting news</p>
              <form>
                <div class="row">
                  <div class="col-8">
                    <input type="text" placeholder="Enter your email id">
                  </div>
                  <div class="col-4">
                    <input type="submit" value="subscribe" class="btn btn-red btn-subscribe">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- money-atom -->
      <section class="money-atom-content-wrap container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="board board-atom">
              <div class="row article-cards">
                <div class="col-12">
                  <div class="card article article-top">
                    <div class="row">
                      <div class="col-5 img-wrap">
                        <img src="https://picsum.photos/300/300">
                        <span class="label label-white">lorem</span>
                      </div>
                      <div class="col-7">
                        <div class="card-body">
                            <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                            <div class="article-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-wrap">
                  <a href="#!" class="btn btn-red">more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="board board-money">
              <div class="row article-cards">
                <div class="col-12">
                  <div class="card article article-top">
                    <div class="row">
                      <div class="col-5 img-wrap">
                        <img src="https://picsum.photos/300/300">
                        <span class="label label-white">lorem ipsum</span>
                      </div>
                      <div class="col-7">
                        <div class="card-body">
                            <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                            <div class="article-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card article">
                    <div class="row no-gutters">
                      <div class="col-12 col-lg-3">
                        <img src="https://picsum.photos/300/500">
                      </div>
                      <div class="col-12 col-lg-9">
                        <div class="card-body">
                          <a href="#!"><h3 class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</h2></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-wrap">
                  <a href="#!" class="btn btn-red">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ad-block">
          <img src="https://i.postimg.cc/dVPNghYp/2-Ad-Banner-728-x-90.jpg">
        </div>
      </section>

      <!-- more from newsminute-->
      <section class="more-articles">
        <div class="container">
          <h4 class="title">more from the newsminute</h4>
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                  <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                  <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                  <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                    <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                  <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                  <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="card article">
                <img src="https://picsum.photos/600/300">
                <div class="card-body">
                  <a href="#!" class="article-title">Lorem ipsum dolor sit ametLorem ipsum dolor</a>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-wrap">
            <a href="#!" class="btn btn-black">more</a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="nav-top-wrap">
        <nav class="nav-top container">
          <ul>
            <li><a href="#!">news</a></li>
            <li><a href="#!">states</a></li>
            <li><a href="#!">features</a></li>
            <li><a href="#!">videos</a></li>
            <li><a href="#!">flix</a></li>
            <li><a href="#!">social</a></li>
            <li><a href="#!">voices</a></li>
            <li><a href="#!">atom</a></li>
            <li><a href="#!">delve</a></li>
            <li><a href="#!">health</a></li>
            <li><a href="#!">money</a></li>
            <li><a href="#!">sports</a></li>
          </ul>
          <a href="#top" class="btn btn-red">top</a>
        </nav>
      </div>
      <div class="footer-credits">
        <div class="container">
          <div class="social-media-plugin">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div>
          <div class="logo-wrap">
            <img src="../dist/images/logo-white-bg.png">
          </div>
        </div>
        <div class="app-download-wrap">
          <div class="app-store-btn-wrap">
            <div class="title">download our new app today</div>
            <div class="link-wrap">
              <a href="#!" class="button"><img src="../dist/images/google-play-badge.png"></a>
              <a href="#!" class="button"><img src="../dist/images/app-store-button.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-9 nav-bottom-wrap">
              <ul>
                <li><a href="#!">About</a></li>
                <li><a href="#!">Contact</a></li>
                <li class="divider"><a href="#!">Careers</a></li>
                <li><a href="#!">Privacy policy</a></li>
                <li><a href="#!">Terms of service</a></li>
                <li class="divider"><a href="#!">Sitemap</a></li>
                <li><a href="#!">Advertice</a></li>
                <li><a href="#!">Adchoices</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-3 copyright-wrap">
              <p>&copy;2018 the news minute</p>
            </div>
            <div class="col-6 col-lg-12 bottom-text-wrap">
              <p>website by influx</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../dist/scripts/scripts.min.js"></script>
  </body>
</html>