html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: $lato;
  transition: all 0.5s ease;
}

img {
  width: 100%;
}

a {
  color: inherit;

  &:hover,
  &:active {
    color: inherit;
  }
}

ul {
  padding: 0;
  list-style: none;
}